

<div style=" display: table-cell;
    vertical-align: middle;">

    <img src="~/pics/logo chic in pn2.png"width="195" height="170" style="position :absolute; top:92px; left:0px; background-color:#ffffff;" />
   
    <a asp-action="index" style="        width: 210px;
        background-color: #06939c;
        color: #ffffff;
        position: absolute;
        height: 50px;
        top: 300px;
        border-radius: 20px;
        left: 710px;
        border-radius: 20px;
    " class="btn btn-white btn-animate">  &nbsp;&nbsp;Check In</a>
    

    <a asp-action="about" style="width:210px; text-align:center;background-color:#06939c; color:#ffffff; position :absolute; top:450px; left:710px; height:50px; border-radius:20px; " class=" btn btn-white btn-animate">
       &nbsp;&nbsp;Check Out
    </a>
    <br />
    <br />

    

</div>