@model Check_In.Models.LogInViewModel
<form id="account" method="post">
    <span class="login100-form-title p-b-37">
        Log In
    </span>


    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="wrap-input100 validate-input m-b-20">

        <input asp-for="@Model.Email" class="input100" placeholder="username or email" />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-25">

        <input asp-for="@Model.Password" class="input100" placeholder="password" />

    </div>
  

    <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn">
            Sign In
        </button>
    </div>
    <br />
    <div class="container-login100-form-btn">
        <a href="#">Sign up</a>


    </div>
</form>